* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
    max-width: 1150px;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 60px;
    font-family: sans-serif;
    padding-bottom: 20px;
    border-radius: 8px;
}

h1 {
    padding-top: 70px;
    font-size: 64px;
    font-weight: 100;
    color: #333;
}

h3 {
    font-style: italic;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 100;
    color: #333;
}

figure {
    width: 90%;
    background-color: white;
    margin: 0 auto 0 auto;
    padding: 0 4px 24px 4px;
    border: 1px #ddd solid;
    border-radius: 5px;
}

img {
    width: 100%;
    background-color: lightgrey;
}

figurecaption {
    font-size: 14px;
    color: #333;
    position: relative;
    top: 10px;
    display: block;
    margin: 0 10px;
}

section {
    max-width: 650px;
    margin: 0 auto;
    text-align: left;
}

h4 {
    padding-top: 30px;
    font-weight: 100;
    font-size: 24px;
    padding-bottom: 15px;
}

ul {
    margin: 0 0 0 40px;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
}

span {
    font-weight: bold;
    color: black;
}

blockquote {
    margin: 20px 20px;
    font-size: 20px;
    font-weight: 100;
}

citation {
    margin: 0 20px;
    font-style: italic;
    font-size: 14px;
    color: #555;
}

readmore {
    display: block;
    margin: 30px 0;
    font-size: 24px;
}

a {
    color: #496da5;
    text-decoration: none;
}

a:visited {
    color: #496da5;
}

footer {
    text-align: center;
    height: 80px;
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 30px;
}

hr {
    border: 1px #eee solid;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
    main {
        max-width: 940px;
    }
    figure {
        width: 820px;
    }
    section {
        max-width: 520px;
    }
    footer {
        max-width: 940px;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        max-width: 720px;
    }
    figure {
        width: 600px;
    }
    section {
        max-width: 468px;
    }
    footer {
        max-width: 720px;
    }
}

@media only screen and (max-width: 768px) {
    main {
        width: 95%;
    }
    h1 {
        padding-top: 50px;
        font-size: 36px;
    }
    figure {
        width: 100%;
    }
    section {
        margin: 0 20px;
        max-width: inherit;
    }
    footer {
        max-width: 95%;
    }
}